.button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  margin: 18px;
  padding: 12px 36px;
  outline: transparent solid 1px;
  transition: all 0.1s linear;
  &:hover {
    outline: #000 solid 1px;
  }
  &.primary {
    outline: none;
    background-color: #fff;
    border-color: #fff;
    color: #000;
    &:hover {
      opacity: 0.75;
    }
    &.disabled {
      opacity: 0.25;
    }
  }
  &.disabled {
    opacity: 0.25;
    outline: none;
    cursor: not-allowed;
  }
}

@media (prefers-color-scheme: light) {
  .button {
    border-color: #000;
    &.primary {
      background-color: #000;
      border-color: #000;
      color: #fff;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
