.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin-top: -18px;
  padding: 18px 18px 18px 6px;
  color: #444444;
  a {
    color: #fff;
    background-color: transparent;
    transition: background-color 0.1s ease-in;
    border-radius: 6px;
    padding: 6px;
    margin: 0 6px;
    &:hover {
      background: #222222;
    }
  }
}

@media (prefers-color-scheme: light) {
  .breadcrumb {
    color: #bbbbbb;
    a {
      color: #1a1a1a;
      &:hover {
        background: #e4e4e4;
      }
    }
  }
}
