.text-input-wrapper {
  padding: 18px 18px 0 18px;
}
.text-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  display: flex;
  width: 100%;
  outline: transparent solid 1px;
  padding: 12px;
  transition: border-color 0.1s ease-in, background-color 0.1s ease-in,
    outline 0.1s ease-in;
  &:focus {
    outline: #fff solid 1px;
  }
  &.disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  &.hasLabel {
    margin-top: 6px;
  }
}

.label {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15rem;
  padding: 0 0 0 4px;
}

@media (prefers-color-scheme: light) {
  .text-input {
    border-color: #000;
    &:focus {
      outline: #000 solid 1px;
    }
  }
}
