.container {
  margin: 0 auto;
  max-width: 1440px;
}
.header {
  display: flex;
  padding: 18px 0 0 0;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a,
  button {
    padding: 20px 18px 18px 18px;
    transition: color 0.2s ease-in;
    cursor: pointer;
    background: none;
    border: none;
    &:hover {
      color: #8c8c8c;
    }
  }
}

.footer {
  padding-top: 36px;
  font-size: 12px;
}
